<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Heart Failure Prediction</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="/static/heart.ico">
</head>


<body>
  <center>
    <h1>Heart Failure Prediction</h1>
    <img src="static/pred.png" height=200 />
    <br><br>
  </center>
  <div style="text-align: center">
    {% if not output %}
      <div class="alert alert-secondary" role="alert">
        To predict whether an individual will experience heart failure, fill in their details below: 
      </div>
    {% elif output == 500 %}
      <div class="alert alert-warning" role="alert">
        Please ensure that you have input numbers (not letters) where applicable.
      </div>
    {% elif output == 400 %}
      <div class="alert alert-warning" role="alert">
        Please ensure that you have filled in all fields.
      </div>
    {% elif output < 50 %}
      <div class="alert alert-success" role="alert">
        You are not at risk of heart failure.
      </div>
    {% elif output > 50 %}
      <div class="alert alert-danger" role="alert">
        You are at risk of heart failure (probability: {{output}}%).
      </div>
    {% elif output > 70 %}
      <div class="alert alert-danger" role="alert">
        You are at a high risk of heart failure (probability: {{output}}%).
      </div>
    {% endif %}
    
        <form method="POST">
          <div class="container">
            <div class="row">
              <div class="col-4">
                <label for="Sex">Gender:</label>
                <select id="Sex" name="Sex" class="form-select">
                  <option disabled="disabled" selected="selected">Select input</option>
                  <option value="F">Female</option>
                  <option value="M">Male</option>
                </select>
              </div>
              <div class="col-4">
                <label for="ChestPainType">Chest Pain Type:</label>
                <select id="ChestPainType" name="ChestPainType" class="form-select">
                  <option disabled="disabled" selected="selected">Select input</option>
                  <option value="ASY">Asymptomatic</option>
                  <option value="NAP">Non-Anginal Pain</option>
                  <option value="ATA">Atypical Angina</option>
                  <option value="TA">Typical Angina</option>
                </select>
              </div>
              <div class="col-4">
                <label for="FastingBS">Fasting Blood Sugar:</label>
                <select id="FastingBS" name="FastingBS" class="form-select">
                  <option disabled="disabled" selected="selected">Select input</option>
                  <option value="1">High</option>
                  <option value="0">Low</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <label for="RestingECG">Resting ECG:</label>
                <select id="RestingECG" name="RestingECG" class="form-select">
                  <option disabled="disabled" selected="selected">Select input</option>
                  <option value="Normal">Normal</option>
                  <option value="LVH">LVH</option>
                  <option value="ST">ST</option>
                </select>
              </div>
              <div class="col-4">
                <label for="ExerciseAngina">Exercise Angina:</label>
                <select id="ExerciseAngina" name="ExerciseAngina" class="form-select">
                  <option disabled="disabled" selected="selected">Select input</option>
                  <option value="Y">Yes</option>
                  <option value="N">No</option>
                </select>
              </div>
              <div class="col-4">
                <label for="ST_Slope">ST Slope:</label>
                <select id="ST_Slope" name="ST_Slope" class="form-select">
                  <option disabled="disabled" selected="selected">Select input</option>
                  <option value="Flat">Flat</option>
                  <option value="Up">Upsloping</option>
                  <option value="Down">Downsloping</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <label class="form-label">Age: </label>
                <div class="input-group">
                  <input class="form-control" name="Age" placeholder="Input a number">
                  <span class="input-group-text">years</span>
                </div>
              </div>
              <div class="col-4">
                <label class="form-label">Resting Blood Pressure: </label>
                <div class="input-group">
                  <input class="form-control" name="RestingBP" placeholder="Input a number">
                  <span class="input-group-text">mm Hg</span>
                </div>
              </div>
              <div class="col-4">
                <label class="form-label">Cholesterol: </label>
                <div class="input-group">
                  <input class="form-control" name="Cholesterol" placeholder="Input a number">
                  <span class="input-group-text">mm/dl</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <label class="form-label">Max HR: </label>
                <div class="input-group">                 
                  <input class="form-control" name="MaxHR" placeholder="Input a number">
                  <span class="input-group-text">units</span>
                </div>
              </div>
              <div class="col-4">
                <label class="form-label">Old peak: </label>
                <div class="input-group">                  
                  <input class="form-control" name="Oldpeak" placeholder="Input a number" style="width: 100px;">
                  <span class="input-group-text">units</span>
                </div>
              </div>
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-dark">Predict</button>
 
            <!-- <input type="submit" value="Predict"> -->
        </form>   
  </div>
</body>
